html
	include partials/head.jade
	body
		include partials/menu.jade
		br
		br
		br
		include partials/headline.jade
		br
		br
		.container
			.row
				.col-md-12
					.thumbnail
						img(src='/images/main.jpg')